body{
  background-color: blue;
  color: white;
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.buttonContainer{
  /*margin: 0 auto 0 auto;*/
  text-align: center;
}

li:nth-child(even){
  background-color: red;
}

li:nth-child(odd){
  background-color: white;
  color: red;
}

.winner{
text-align: center;
}
